body {
  line-height: 1;
  color: black;
  font-weight: normal;
  font-family: 'Palatino Linotype', 'Book Antiqua', Palatino, serif;
  font-size: 120%;
}

a {
  color: black;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0px;
  padding: 0px;
}

#container {
  width: 650px;
  margin: 50px auto 50px auto;
}

.header {
  text-transform: uppercase;

  padding: 10px 20px 10px 20px;
  border-bottom: solid 1px #E5E5E5;
  border-top: solid 1px #E5E5E5;
}

.greeting {
  line-height: 1.1;
}

.greeting h1 {
}

.greeting h3 {
  color: #C6C6C6;
}

.greeting h2 {
  color: #C6C6C6;
}

.content {
  line-height: 1.4;

  padding-left: 20px;
  padding-right: 20px;
}

.content p {
  margin-top: 20px;
}

.social {
  padding: 10px;
  border-top: solid 1px #E5E5E5;
  border-bottom: solid 1px #E5E5E5;
}

.social ul {
  margin: 0px;
  padding: 0px;

  display: table;
  width: 100%;
  /*table-layout: fixed;*/
}

.social li {
  display: table-cell;
  list-style-type: none;
}

.social li a {
  display: block;
  text-align: center;
  margin: 0 5px;
}
